<div class="banner" style="background-image: linear-gradient(135deg, rgba(249,252,247,1) 0%,rgba(249,252,247,0.99) 1%,rgba(249,252,247,0.86) 25%,rgba(245,249,241,0.5) 93%,rgba(245,249,240,0.5) 100%), url('https://static.pexels.com/photos/242236/pexels-photo-242236.jpeg');">
  <div class="banner-content sweet" style="color:#4C4C4C">

    <div class="branding">
      <%= image_tag "Slice1.png" %>
      </div>
<!--      <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Find your Space" style="color:#4C4C4C">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
 -->
  <div class="dropdown">
    <button class="btn btn-cool dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Find a Space!
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Venues</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Workspaces</a></li>
    </ul>
  </div>
</div>


<div class="text-center padded">
  <%= link_to "Add a Space", new_space_path, class: "btn btn-cool" %>
</div>
