<div class="form-container">
  <h1>Create a New Space</h1>
  <%= render 'form' %>
</div>

<%= link_to 'Back', spaces_path %>


<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAljlH6KfD8t7Gd-IavyYX8RjYmgjxc2dM"></script>
<% end %>
