<footer class="footer-basic-centered">
  <%= image_tag "commons 2.png" %>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">About us</button>
  <div id="demo" class="collapse">
   Serving the Montreal art community since 2017
  </div>
</div>
</footer>
