<footer class="footer-basic-centered">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= "Back to home" %>
  <% end %>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">About us</button>
  <div id="demo" class="collapse">
   Serving the Montreal art community since 2017
  </div>
</div>
</footer>
