
 <h2>
 <%= pluralize @event.reviewevents.size, "review" %>
 </h2>

<div id="reviews">
  <% if @event.reviewevents.blank? %>
    Be the first to leave a review for <%= @event.name %>
  <% else %>
    <% @event.reviewevents.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>


<%= render 'e-reviews/form', event: @event, reviewevent: Reviewevent.new%>
